{% extends '_partials/_layout.twig' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-4">
      <p class='notif'>{{ message.message[0] }}</p>
        <h1>login</h1>
        <form action="/login" method='POST'>
          <div class="form-group">
            <input type="text" class="form-control" placeholder='username' name='username'>
          </div>
          <div class="form-group">
            <input type="password" class='form-control' placeholder='password' name='password'>
          </div>
          <div class="form-group">
            <button class='btn btn-primary'>Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $(document).ready( function () {
      setTimeout(() => {
        $('.notif').hide('slow')
      } , 1200)
    }) 
  </script>
{% endblock %}