{% extends "_partials/_layout.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class='notification'>{{message.message[0]}}</h3>
                <form action="/post" method="POST" class="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="username" name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="password" name="password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="check password" name="password2">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info" type="submit">send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>   
{% endblock content %}

{% block script %}
  <script>
    $(document).ready( function () {
      let notif = $('.notification')
      if (notif.text == "") {
        notif.hide();
      } else {
        setTimeout(() => {
          notif.hide('slow');
        } , 1000)
      }
    })
  </script>
{% endblock %}